.form_container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: auto;
}

.input_box {
    margin-top: 10px;
    height: 36px;

    padding: 6px 6px 6px 12px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #dadadad7;

    background-color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;

    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #7C7C7C;
}

.submit_btn {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 40%;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;

    cursor: pointer;
    border-radius: 50px;
    background: #40ad42;
    box-shadow: inset -7px -7px 14px #4b914c, inset 7px 7px 14px #99ff9a;
}
.submit_btn:hover {
    font-weight: 600;

    border-radius: 50px;
    background: linear-gradient(315deg, #42dd44, #019203);
    /* box-shadow: -7px -7px 14px #4b914c, 7px 7px 14px #99ff9a; */
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 40%;
}

.footer p{
    color: #7C7C7C ;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.footer span{
    color: #72DB73 ;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.error{
    
    color: #ff0000de;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    /* margin: 0px 4.5rem; */
    margin: fit-content;
    margin-top: 5px;
    background-color: rgba(184, 135, 11, 0.082);
    border: 1px solid #ff000021;
    border-radius: 5px;
}

.input_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}