.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 50vw;

    background-image: url("../../assets/registerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 15vh;
    width: 100%;
}

.header .header_text {
    margin-left: 42px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

.header p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: #ffffffe5;
}

.header .login_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 110px;
    border: none;
    
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;

    cursor: pointer;
    border-radius: 50px;
    background: #40ad42;
    box-shadow: inset -7px -7px 14px #4b914c, inset 7px 7px 14px #99ff9a;

}
.header .login_btn:hover {
    border-radius: 50px;
    background: linear-gradient(315deg, #42dd44, #019203);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: auto;
}

.footer p {
    margin: 0px;
    padding: 0px 30px ;
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 700;
    
    color: #ffffffd8;
}

.footer span{
    
    color: #43e246;
}

.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.right_container .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
}

.right_container .header .title {
    font-family: 'Single Day', cursive;
    font-size: 80px;
    font-weight: 400;

    color: #67c568;
}

.right_container .header .text {
    margin-top: 15px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;

    color: #ffffff;
}

.right_container .header .option {
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;

    color: #ffffff;

    cursor: pointer;
}

.right_container .header .option span {
    color: #67c568;

    margin: 0px 10px;
}